<h1>This is the Users's index page.</h1>
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <% User.all.each do |user| %>
    <tr>
      <td> <%= user.username %> </td>
      <td> <%= user.email %> </td>
    </tr>
  <% end %>
</table>
