<h1>Editing <%= @game.name %></h1>
<form class="form-horizontal" action="/games/<%= @game.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= @game.name %>"/>
    </div>
    <div class="form-group">
      <input type="submit" name="submit" id="submit" value="Submit Edit">
    </div>
    <div class="form-group">
      <input type="submit" name="submit" id="delete" value="DELETE">
    </div>
</form>
