<h1>This is the Games index page.</h1>


<table class="table">
  <tr>
    <% Game.attribute_names.each do |name| %>
      <% if @index_titles[name] %>
        <th><%= @index_titles[name] %></th>
      <% end %>
    <% end %>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <% game.attributes.each do |att, val| %>
        <% if @index_titles[att] %>
          <% arr = @index_commands[att] ? @index_commands[att] : [att]%>
          <% if @att_links[att] %>
            <td><a href="<%=  self.send(@att_links[att], val) %>"><%= arr.inject(game, :send) %></a></td>
          <% else %>
            <td><%= arr.inject(game, :send) %></td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<% if logged_in? %>
  <form class="form-vertical" action="/games/new" method="get">
      <input type="submit" name="new_game" value="Create New Game">
  </form>
<% end %>
