<div class="container">
  <head>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <header>
    <div class="header-image-banner">
      <img src="images/ace.png" class="img-responsive main-image">
      <img src="images/hexes.png" class="img-responsive main-image">
      <img src="images/dragon-head.png" class="img-responsive main-image">
      <img src="images/chest.png" class="img-responsive main-image">
    </div>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h1>BOARD GAME HOARD</h1>
    <div class="content">
      <p>Welcome to the Board Game Hoard! To get started, <a href="/users/new">create a profile</a> or <a href="/login">log in</a>.
    </div>



  </div>
</div>
